1.10.1 創建Set

In [1]:
s1=set('qwertyuuuu')
s1

{'e', 'q', 'r', 't', 'u', 'w', 'y'}

In [2]:
s2=set([123,"book","facebook"])
s2

{123, 'book', 'facebook'}

1.10.2 add & update

In [3]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [4]:
s2=set([123,"book","facebook"])
s2.add(456)
s2

{123, 456, 'book', 'facebook'}

In [5]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [6]:
s2=set([123,"book","facebook"])
s3=set([456,"Ck","LOOK"])
s2.update(s3)
s2

{123, 456, 'Ck', 'LOOK', 'book', 'facebook'}

In [7]:
s2=set([123,"book","facebook"])
s2.update((2,4,5))
s2

{123, 2, 4, 5, 'book', 'facebook'}

In [9]:
s2=set([123,"book","facebook"])
s2.update("test")
s2

{123, 'book', 'e', 'facebook', 's', 't'}

pop , remove , discard ,clear

In [15]:
b={123, 'book', 'e', 'facebook', 's', 't'}           #pop不可指定參數
print(b.pop())
print(b.pop())

t
book

In [18]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [17]:
b={123, 'book', 'e', 'facebook', 's', 't'}           #remove可指定參數 但沒有返回值
print(b.remove("book"))

None

In [19]:
help(set.discard)

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

In [21]:
b={123, 'book', 'e', 'facebook', 's', 't'}           #remove可指定參數 但沒有返回值
b.discard("book")
b

{123, 'e', 'facebook', 's', 't'}

In [22]:
b={123, 'book', 'e', 'facebook', 's', 't'}           #remove可指定參數 但沒有返回值
print(b.discard("book"))

None

In [24]:
b={123, 'book', 'e', 'facebook', 's', 't'}           #remove可指定參數 但沒有返回
b.clear()
b

set()

不可更改的集合 frozenset()

In [25]:
b=frozenset({123, 'book', 'e', 'facebook', 's', 't'})          #不可更改
b.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

1.10.4 集合的運算

In [26]:
a=set([2,3,4,5,6,7])
c=set([2,3,4])
c<a

True

In [27]:
a=set([2,3,4,5,6,7])
c=set([2,3,4])
c.issubset(a)

True

In [28]:
a=set([2,3,4,5,6,7])
c=set([2,3,4])
a.issuperset(c)

True

In [32]:
a=set(['a','v','b','f','g','h'])
b=set(['a','b','c'])
c=a|b
c

{'a', 'b', 'c', 'f', 'g', 'h', 'v'}

In [33]:
a=set(['a','v','b','f','g','h'])
b=set(['a','b','c'])
c=a.union(b)
c

{'a', 'b', 'c', 'f', 'g', 'h', 'v'}

In [34]:
a=set(['a','v','b','f','g','h'])
b=set(['a','b','c'])
c=a&b
c

{'a', 'b'}

In [35]:
a=set(['a','v','b','f','g','h'])
b=set(['a','b','c'])
c=a.intersection(b)
c

{'a', 'b'}

In [36]:
a=set(['a','v','b','f','g','h'])
b=set(['a','b','c'])
c=a-b
c

{'f', 'g', 'h', 'v'}

In [37]:
a=set(['a','v','b','f','g','h'])
b=set(['a','b','c'])
c=a.difference(b)
c

{'f', 'g', 'h', 'v'}

In [ ]:
a=set(['a','v','b','f','g','h'])
b=set(['a','b','c'])
c=a
c